nodered/flows/flows.json
[
    {
        "id": "tab-orchestrator",
        "type": "tab",
        "label": "Orchestrator",
        "disabled": false,
        "info": "MQTT -> Combine -> RabbitMQ"
    },
    {
        "id": "cfg-mqtt-broker",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-orchestrator",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "mqtt-in-beach",
        "type": "mqtt in",
        "z": "tab-orchestrator",
        "name": "Beach Sensors (beach/#)",
        "topic": "beach/#",
        "qos": "1",
        "datatype": "json",
        "broker": "cfg-mqtt-broker",
        "x": 150,
        "y": 120,
        "wires": [["func-combine"]]
    },
    {
        "id": "func-combine",
        "type": "function",
        "z": "tab-orchestrator",
        "name": "Combine per Beach",
        "func": "var parts = msg.topic.split('/');\nvar beachId = parts[1];\nvar sensorType = parts[2];\nvar payload = msg.payload;\n\nvar state = context.get(beachId) || {};\nstate[sensorType] = payload;\nstate.lastUpdate = new Date().toISOString();\ncontext.set(beachId, state);\n\nvar sensors = ['wind','pressure','temperature','sealevel','occupancy'];\nvar complete = sensors.every(function(s) { return state[s] !== undefined; });\n\nif (complete) {\n    var combined = {\n        beachId: beachId,\n        timestamp: state.lastUpdate,\n        windSpeed: state.wind.value,\n        pressure: state.pressure.value,\n        temperature: state.temperature.value,\n        seaLevel: state.sealevel.value,\n        occupancy: state.occupancy.value\n    };\n    msg.payload = combined;\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "x": 400,
        "y": 120,
        "wires": [["func-rabbitmq-publish", "debug-combined"]]
    },
    {
        "id": "func-rabbitmq-publish",
        "type": "function",
        "z": "tab-orchestrator",
        "name": "Publish to RabbitMQ",
        "func": "var amqplib = global.get('amqplib');\nif (!amqplib) {\n    node.error('amqplib not available in global context');\n    return null;\n}\n\nvar conn = flow.get('amqpConn');\nvar ch = flow.get('amqpChannel');\n\nif (ch) {\n    try {\n        var exchange = 'beach.events';\n        var routingKey = 'beach.combined';\n        var msgBuffer = Buffer.from(JSON.stringify(msg.payload));\n        ch.publish(exchange, routingKey, msgBuffer, { persistent: true });\n    } catch (e) {\n        node.warn('RabbitMQ publish error, reconnecting: ' + e.message);\n        flow.set('amqpChannel', null);\n        flow.set('amqpConn', null);\n    }\n    return null;\n}\n\namqplib.connect('amqp://beach:monitor@beach-rabbitmq:5672/')\n    .then(function(connection) {\n        flow.set('amqpConn', connection);\n        return connection.createChannel();\n    })\n    .then(function(channel) {\n        var exchange = 'beach.events';\n        return channel.assertExchange(exchange, 'topic', { durable: true })\n            .then(function() {\n                flow.set('amqpChannel', channel);\n                var msgBuffer = Buffer.from(JSON.stringify(msg.payload));\n                channel.publish(exchange, 'beach.combined', msgBuffer, { persistent: true });\n                node.status({ fill: 'green', shape: 'dot', text: 'connected' });\n            });\n    })\n    .catch(function(err) {\n        node.error('RabbitMQ connection failed: ' + err.message);\n        node.status({ fill: 'red', shape: 'ring', text: 'disconnected' });\n    });\n\nreturn null;",
        "outputs": 0,
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "debug-combined",
        "type": "debug",
        "z": "tab-orchestrator",
        "name": "Combined Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 660,
        "y": 120,
        "wires": []
    },

    {
        "id": "tab-dashboard",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "Beach Monitoring Dashboard"
    },

    {
        "id": "ui-tab-overview",
        "type": "ui_tab",
        "name": "Overview",
        "icon": "map",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui-tab-alertas",
        "type": "ui_tab",
        "name": "Alertas",
        "icon": "warning",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui-tab-patrones",
        "type": "ui_tab",
        "name": "Patrones CEP",
        "icon": "device_hub",
        "order": 3,
        "disabled": false,
        "hidden": false
    },

    {
        "id": "group-controls",
        "type": "ui_group",
        "name": "Scenario Controls",
        "tab": "ui-tab-overview",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "group-occupancy-ctrl",
        "type": "ui_group",
        "name": "Occupancy Simulation",
        "tab": "ui-tab-overview",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "group-map",
        "type": "ui_group",
        "name": "Mapa de Playas",
        "tab": "ui-tab-overview",
        "order": 3,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "group-wind",
        "type": "ui_group",
        "name": "Wind Speed (km/h)",
        "tab": "ui-tab-overview",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "group-pressure",
        "type": "ui_group",
        "name": "Atmospheric Pressure (hPa)",
        "tab": "ui-tab-overview",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "group-temp",
        "type": "ui_group",
        "name": "Temperature (C)",
        "tab": "ui-tab-overview",
        "order": 6,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "group-sealevel",
        "type": "ui_group",
        "name": "Sea Level (m)",
        "tab": "ui-tab-overview",
        "order": 7,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "group-occupancy",
        "type": "ui_group",
        "name": "Beach Occupancy (%)",
        "tab": "ui-tab-overview",
        "order": 8,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "group-alerts",
        "type": "ui_group",
        "name": "Active Alerts",
        "tab": "ui-tab-alertas",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "group-events",
        "type": "ui_group",
        "name": "Complex Events Log",
        "tab": "ui-tab-alertas",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "group-patterns",
        "type": "ui_group",
        "name": "Gestión de Patrones CEP",
        "tab": "ui-tab-patrones",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false
    },

    {
        "id": "btn-normal",
        "type": "ui_button",
        "z": "tab-dashboard",
        "name": "Normal",
        "group": "group-controls",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Estado Normal",
        "tooltip": "Set all sensors to normal range",
        "color": "#ffffff",
        "bgcolor": "#4CAF50",
        "icon": "fa-check",
        "payload": "{\"scenario\":\"NORMAL\"}",
        "payloadType": "json",
        "topic": "",
        "x": 140,
        "y": 80,
        "wires": [["http-scenario"]]
    },
    {
        "id": "btn-levante",
        "type": "ui_button",
        "z": "tab-dashboard",
        "name": "Levante",
        "group": "group-controls",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Viento Levante",
        "tooltip": "Activate Levante east wind scenario",
        "color": "#000000",
        "bgcolor": "#FFEB3B",
        "icon": "fa-wind",
        "payload": "{\"scenario\":\"LEVANTE\"}",
        "payloadType": "json",
        "topic": "",
        "x": 140,
        "y": 130,
        "wires": [["http-scenario"]]
    },
    {
        "id": "btn-storm",
        "type": "ui_button",
        "z": "tab-dashboard",
        "name": "Storm",
        "group": "group-controls",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Tormenta",
        "tooltip": "Activate storm scenario",
        "color": "#ffffff",
        "bgcolor": "#FF9800",
        "icon": "fa-cloud-showers-heavy",
        "payload": "{\"scenario\":\"STORM\"}",
        "payloadType": "json",
        "topic": "",
        "x": 140,
        "y": 180,
        "wires": [["http-scenario"]]
    },
    {
        "id": "btn-severe",
        "type": "ui_button",
        "z": "tab-dashboard",
        "name": "Severe Storm",
        "group": "group-controls",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Tormenta Severa",
        "tooltip": "Activate severe storm - triggers RED alert",
        "color": "#ffffff",
        "bgcolor": "#f44336",
        "icon": "fa-bolt",
        "payload": "{\"scenario\":\"SEVERE_STORM\"}",
        "payloadType": "json",
        "topic": "",
        "x": 140,
        "y": 230,
        "wires": [["http-scenario"]]
    },
    {
        "id": "btn-heatwave",
        "type": "ui_button",
        "z": "tab-dashboard",
        "name": "Heatwave",
        "group": "group-controls",
        "order": 5,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Ola de Calor",
        "tooltip": "Activate heatwave scenario",
        "color": "#ffffff",
        "bgcolor": "#FF5722",
        "icon": "fa-temperature-high",
        "payload": "{\"scenario\":\"HEATWAVE\"}",
        "payloadType": "json",
        "topic": "",
        "x": 140,
        "y": 280,
        "wires": [["http-scenario"]]
    },
    {
        "id": "btn-occupancy",
        "type": "ui_button",
        "z": "tab-dashboard",
        "name": "High Occupancy",
        "group": "group-controls",
        "order": 6,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Playa Saturada",
        "tooltip": "Activate high occupancy + moderate wind",
        "color": "#ffffff",
        "bgcolor": "#9C27B0",
        "icon": "fa-users",
        "payload": "{\"scenario\":\"HIGH_OCCUPANCY\"}",
        "payloadType": "json",
        "topic": "",
        "x": 140,
        "y": 330,
        "wires": [["http-scenario"]]
    },
    {
        "id": "http-scenario",
        "type": "http request",
        "z": "tab-dashboard",
        "name": "POST Scenario",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://sensor-simulator:8290/scenario",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 380,
        "y": 200,
        "wires": [["scenario-status"]]
    },
    {
        "id": "scenario-status",
        "type": "ui_text",
        "z": "tab-dashboard",
        "group": "group-controls",
        "order": 7,
        "width": "6",
        "height": "1",
        "name": "Scenario Status",
        "label": "Active Scenario:",
        "format": "{{msg.payload.scenario}}",
        "layout": "row-left",
        "x": 580,
        "y": 200,
        "wires": []
    },

    {
        "id": "slider-hour",
        "type": "ui_slider",
        "z": "tab-dashboard",
        "name": "Hour of Day",
        "label": "Hour (0-23):",
        "tooltip": "",
        "group": "group-occupancy-ctrl",
        "order": 1,
        "width": "8",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "hour",
        "topicType": "str",
        "min": 0,
        "max": 23,
        "step": 1,
        "x": 140,
        "y": 420,
        "wires": [["func-send-occupancy"]]
    },
    {
        "id": "dropdown-day",
        "type": "ui_dropdown",
        "z": "tab-dashboard",
        "name": "Day of Week",
        "label": "Day:",
        "tooltip": "",
        "place": "Select day",
        "group": "group-occupancy-ctrl",
        "order": 2,
        "width": "5",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {"label": "Monday",    "value": "MONDAY",    "type": "str"},
            {"label": "Tuesday",   "value": "TUESDAY",   "type": "str"},
            {"label": "Wednesday", "value": "WEDNESDAY", "type": "str"},
            {"label": "Thursday",  "value": "THURSDAY",  "type": "str"},
            {"label": "Friday",    "value": "FRIDAY",    "type": "str"},
            {"label": "Saturday",  "value": "SATURDAY",  "type": "str"},
            {"label": "Sunday",    "value": "SUNDAY",    "type": "str"}
        ],
        "payload": "",
        "topic": "dayOfWeek",
        "topicType": "str",
        "x": 140,
        "y": 460,
        "wires": [["func-send-occupancy"]]
    },
    {
        "id": "func-send-occupancy",
        "type": "function",
        "z": "tab-dashboard",
        "name": "Build & Send Occupancy Params",
        "func": "var params = flow.get('occParams') || {hour: 12, dayOfWeek: 'MONDAY'};\n\nif (msg.topic === 'hour') params.hour = msg.payload;\nelse if (msg.topic === 'dayOfWeek') params.dayOfWeek = msg.payload;\n\nflow.set('occParams', params);\nmsg.payload = params;\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 440,
        "wires": [["http-occupancy"]]
    },
    {
        "id": "http-occupancy",
        "type": "http request",
        "z": "tab-dashboard",
        "name": "POST /occupancy-params",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://sensor-simulator:8290/occupancy-params",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 640,
        "y": 440,
        "wires": [["occupancy-status"]]
    },
    {
        "id": "occupancy-status",
        "type": "ui_text",
        "z": "tab-dashboard",
        "group": "group-occupancy-ctrl",
        "order": 3,
        "width": "8",
        "height": "1",
        "name": "Occupancy Status",
        "label": "Base Occupancy:",
        "format": "{{msg.payload.calculatedBaseOccupancy}}%",
        "layout": "row-left",
        "x": 860,
        "y": 440,
        "wires": []
    },

    {
        "id": "map-beaches",
        "type": "ui_template",
        "z": "tab-dashboard",
        "group": "group-map",
        "name": "Mapa Leaflet Playas",
        "order": 1,
        "width": "24",
        "height": "10",
        "format": "<!-- Leaflet map with live beach markers -->\n<link rel=\"stylesheet\" href=\"/leaflet.css\"/>\n<script src=\"/leaflet.js\"></script>\n<style>\n  #beach-map-wrap { position: relative; width: 100%; height: 360px; z-index: 0; }\n  #beach-map { position: absolute; top: 0; left: 0; right: 0; bottom: 0; border-radius: 8px; z-index: 0; }\n  .leaflet-pane, .leaflet-top, .leaflet-bottom { z-index: 1 !important; }\n  .leaflet-control { z-index: 2 !important; }\n  .beach-popup { font-size: 13px; line-height: 1.6; }\n  .beach-popup b { font-size: 14px; }\n  .level-OK     { color: #4CAF50; font-weight: bold; }\n  .level-YELLOW { color: #FFC107; font-weight: bold; }\n  .level-ORANGE { color: #FF9800; font-weight: bold; }\n  .level-RED    { color: #f44336; font-weight: bold; }\n</style>\n<div id=\"beach-map-wrap\"><div id=\"beach-map\"></div></div>\n<script>\n(function() {\n  if (window._beachMap) { window._beachMap.remove(); window._beachMap = null; }\n\n  var beaches = [\n    { id: 'victoria',  name: 'Playa de la Victoria', lat: 36.5062, lon: -6.2791 },\n    { id: 'caleta',    name: 'Playa de la Caleta',    lat: 36.5313, lon: -6.3059 },\n    { id: 'cortadura', name: 'Playa de Cortadura',    lat: 36.4878, lon: -6.2676 }\n  ];\n\n  var alertColors = { OK: '#4CAF50', YELLOW: '#FFC107', ORANGE: '#FF9800', RED: '#f44336' };\n\n  var map = L.map('beach-map', { preferCanvas: true }).setView([36.510, -6.285], 13);\n  window._beachMap = map;\n\n  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {\n    attribution: '© OpenStreetMap contributors',\n    maxZoom: 18\n  }).addTo(map);\n\n  // Force Leaflet to recalculate its container size after Angular finishes rendering\n  setTimeout(function() { map.invalidateSize(); }, 300);\n\n  var markers = {};\n  var sensorData = {};\n\n  function makeIcon(color) {\n    return L.divIcon({\n      className: '',\n      html: '<div style=\"width:20px;height:20px;border-radius:50%;background:' + color + ';border:3px solid #fff;box-shadow:0 2px 6px rgba(0,0,0,0.4);\"></div>',\n      iconSize: [20, 20],\n      iconAnchor: [10, 10]\n    });\n  }\n\n  function popupContent(beach, data, alertLevel) {\n    var lvl = alertLevel || 'OK';\n    var cls = 'level-' + lvl;\n    var html = '<div class=\"beach-popup\">';\n    html += '<b>' + beach.name + '</b><br>';\n    html += 'Estado: <span class=\"' + cls + '\">' + lvl + '</span><br>';\n    if (data) {\n      html += '🌬 Viento: <b>' + (data.windSpeed||'-') + ' km/h</b><br>';\n      html += '🌡 Temp: <b>' + (data.temperature||'-') + ' °C</b><br>';\n      html += '📊 Presión: <b>' + (data.pressure||'-') + ' hPa</b><br>';\n      html += '🌊 Nivel mar: <b>' + (data.seaLevel||'-') + ' m</b><br>';\n      html += '👥 Ocupación: <b>' + (data.occupancy||'-') + '%</b>';\n    } else {\n      html += '<i>Esperando datos...</i>';\n    }\n    html += '</div>';\n    return html;\n  }\n\n  beaches.forEach(function(b) {\n    var marker = L.marker([b.lat, b.lon], { icon: makeIcon('#4CAF50') })\n      .addTo(map)\n      .bindPopup(popupContent(b, null, 'OK'), { maxWidth: 220 });\n    markers[b.id] = { marker: marker, alertLevel: 'OK', beach: b };\n  });\n\n  scope.$watch('msg', function(msg) {\n    if (!msg || !msg.payload) return;\n    var d = msg.payload;\n\n    if (d.type === 'readings' && d.data && d.data.beachId) {\n      var bid = d.data.beachId;\n      sensorData[bid] = d.data;\n      if (markers[bid]) {\n        var m = markers[bid];\n        m.marker.setPopupContent(popupContent(m.beach, d.data, m.alertLevel));\n      }\n    }\n\n    if (d.type === 'alert' && d.data && d.data.beachId) {\n      var bid = d.data.beachId;\n      var lvl = d.data.alertLevel || 'OK';\n      if (markers[bid]) {\n        var m = markers[bid];\n        m.alertLevel = lvl;\n        m.marker.setIcon(makeIcon(alertColors[lvl] || '#4CAF50'));\n        m.marker.setPopupContent(popupContent(m.beach, sensorData[bid] || null, lvl));\n      }\n    }\n  });\n})();\n</script>",
        "storeOutMessages": true,
        "fwd": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 600,
        "y": 560,
        "wires": [[]]
    },

    {
        "id": "inject-ws-start",
        "type": "inject",
        "z": "tab-dashboard",
        "name": "Start WS",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 140,
        "y": 620,
        "wires": [["ws-in-cep"]]
    },
    {
        "id": "ws-in-cep",
        "type": "function",
        "z": "tab-dashboard",
        "name": "CEP WebSocket Client",
        "func": "var WS = global.get('ws');\nif (!WS) { node.error('ws not in global context'); return; }\n\nvar client = flow.get('wsClient');\nif (client && client.readyState === 1) return;\n\nif (client && client.readyState !== 3) {\n    try { client.terminate(); } catch(e) {}\n}\n\nvar ws = new WS('ws://cep-engine:8291/ws/sensors');\nflow.set('wsClient', ws);\n\nws.on('open', function() {\n    node.status({fill:'green', shape:'dot', text:'connected'});\n});\n\nws.on('message', function(data) {\n    var parsed;\n    try { parsed = JSON.parse(data.toString()); } catch(e) { return; }\n    node.send({payload: parsed});\n});\n\nws.on('close', function() {\n    node.status({fill:'red', shape:'ring', text:'disconnected'});\n    flow.set('wsClient', null);\n});\n\nws.on('error', function(err) {\n    node.status({fill:'red', shape:'ring', text:err.message});\n    flow.set('wsClient', null);\n});",
        "outputs": 1,
        "x": 340,
        "y": 620,
        "wires": [["func-route-ws"]]
    },
    {
        "id": "func-route-ws",
        "type": "function",
        "z": "tab-dashboard",
        "name": "Route by Type",
        "func": "var data;\ntry {\n    data = (typeof msg.payload === 'string') ? JSON.parse(msg.payload) : msg.payload;\n} catch(e) { return null; }\n\nif (data.type === 'alert') {\n    flow.set('lastAlertTime', Date.now());\n    return [null, {payload: data.data}, {payload: msg.payload}];\n}\n\nif (data.type === 'readings') {\n    var lastAlert = flow.get('lastAlertTime') || 0;\n    var elapsed = Date.now() - lastAlert;\n    if (lastAlert > 0 && elapsed > 10000) {\n        flow.set('lastAlertTime', 0);\n        return [{payload: data.data}, {payload: {alertLevel: 'OK'}}, {payload: msg.payload}];\n    }\n    return [{payload: data.data}, null, {payload: msg.payload}];\n}\nreturn null;",
        "outputs": 3,
        "x": 560,
        "y": 620,
        "wires": [
            ["func-split-sensors"],
            ["func-format-alert", "func-accumulate-events"],
            ["map-beaches"]
        ]
    },
    {
        "id": "func-split-sensors",
        "type": "function",
        "z": "tab-dashboard",
        "name": "Split to Charts",
        "func": "var d = msg.payload;\nif (!d || !d.beachId) return null;\nvar wind     = {topic: d.beachId, payload: d.windSpeed};\nvar pressure = {topic: d.beachId, payload: d.pressure};\nvar temp     = {topic: d.beachId, payload: d.temperature};\nvar sea      = {topic: d.beachId, payload: d.seaLevel};\nvar occ      = {topic: d.beachId, payload: d.occupancy};\nreturn [wind, pressure, temp, sea, occ];",
        "outputs": 5,
        "x": 800,
        "y": 560,
        "wires": [["chart-wind"], ["chart-pressure"], ["chart-temp"], ["chart-sealevel"], ["chart-occupancy"]]
    },
    {
        "id": "func-format-alert",
        "type": "function",
        "z": "tab-dashboard",
        "name": "Format Alert",
        "func": "var d = msg.payload;\nif (!d) return null;\nvar level = d.alertLevel || 'UNKNOWN';\nif (level === 'OK') {\n    msg.payload = '<font color=\"#4CAF50\" size=\"4\"><b>[OK]</b></font> All clear - No active alerts';\n    return msg;\n}\nvar color = '#4CAF50';\nif (level === 'YELLOW') color = '#FFEB3B';\nif (level === 'ORANGE') color = '#FF9800';\nif (level === 'RED') color = '#f44336';\nmsg.payload = '<font color=\"' + color + '\" size=\"4\"><b>[' + level + ']</b></font> ' + (d.message || d.patternName || 'Alert') + ' - ' + (d.beachId || '') + ' @ ' + (d.timestamp || '');\nreturn msg;",
        "outputs": 1,
        "x": 800,
        "y": 640,
        "wires": [["alert-display"]]
    },
    {
        "id": "func-accumulate-events",
        "type": "function",
        "z": "tab-dashboard",
        "name": "Accumulate Events",
        "func": "var events = flow.get('eventsLog') || [];\nvar d = msg.payload;\nif (!d) return null;\nevents.unshift({\n    alertLevel: d.alertLevel || '',\n    patternName: d.patternName || '',\n    beachId: d.beachId || '',\n    message: d.message || '',\n    timestamp: d.timestamp || ''\n});\nif (events.length > 50) events = events.slice(0, 50);\nflow.set('eventsLog', events);\nmsg.payload = events;\nreturn msg;",
        "outputs": 1,
        "x": 800,
        "y": 700,
        "wires": [["events-table"]]
    },
    {
        "id": "alert-display",
        "type": "ui_text",
        "z": "tab-dashboard",
        "group": "group-alerts",
        "order": 1,
        "width": "24",
        "height": "2",
        "name": "Alert Banner",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1020,
        "y": 640,
        "wires": []
    },
    {
        "id": "events-table",
        "type": "ui_table",
        "z": "tab-dashboard",
        "group": "group-events",
        "name": "Events Log",
        "order": 1,
        "width": "24",
        "height": "8",
        "columns": [
            {"field": "alertLevel",  "title": "Level",   "width": "8%"},
            {"field": "patternName", "title": "Pattern", "width": "18%"},
            {"field": "beachId",     "title": "Beach",   "width": "10%"},
            {"field": "message",     "title": "Message", "width": "44%"},
            {"field": "timestamp",   "title": "Time",    "width": "20%"}
        ],
        "outputs": 0,
        "cts": false,
        "x": 1020,
        "y": 700,
        "wires": []
    },

    {
        "id": "chart-wind",
        "type": "ui_chart",
        "z": "tab-dashboard",
        "name": "Wind Chart",
        "group": "group-wind",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "Wind Speed",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "0",
        "ymax": "150",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4","#ff7f0e","#2ca02c"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1040,
        "y": 560,
        "wires": [[]]
    },
    {
        "id": "chart-pressure",
        "type": "ui_chart",
        "z": "tab-dashboard",
        "name": "Pressure Chart",
        "group": "group-pressure",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "Atmospheric Pressure",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "950",
        "ymax": "1040",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4","#ff7f0e","#2ca02c"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1050,
        "y": 600,
        "wires": [[]]
    },
    {
        "id": "chart-temp",
        "type": "ui_chart",
        "z": "tab-dashboard",
        "name": "Temperature Chart",
        "group": "group-temp",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4","#ff7f0e","#2ca02c"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1060,
        "y": 640,
        "wires": [[]]
    },
    {
        "id": "chart-sealevel",
        "type": "ui_chart",
        "z": "tab-dashboard",
        "name": "Sea Level Chart",
        "group": "group-sealevel",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "Sea Level",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4","#ff7f0e","#2ca02c"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1050,
        "y": 680,
        "wires": [[]]
    },
    {
        "id": "chart-occupancy",
        "type": "ui_chart",
        "z": "tab-dashboard",
        "name": "Occupancy Chart",
        "group": "group-occupancy",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "Beach Occupancy",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4","#ff7f0e","#2ca02c"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1050,
        "y": 720,
        "wires": [[]]
    },

    {
        "id": "inject-load-patterns",
        "type": "inject",
        "z": "tab-dashboard",
        "name": "Cargar patrones (auto + retry)",
        "props": [],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "4",
        "x": 170,
        "y": 820,
        "wires": [["http-get-patterns"]]
    },
    {
        "id": "btn-reload-patterns",
        "type": "ui_button",
        "z": "tab-dashboard",
        "name": "Recargar Patrones",
        "group": "group-patterns",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Recargar tabla",
        "tooltip": "Recargar lista de patrones desde la API",
        "color": "#ffffff",
        "bgcolor": "#607D8B",
        "icon": "fa-refresh",
        "payload": "reload",
        "payloadType": "str",
        "topic": "",
        "x": 170,
        "y": 860,
        "wires": [["http-get-patterns"]]
    },
    {
        "id": "http-get-patterns",
        "type": "http request",
        "z": "tab-dashboard",
        "name": "GET /api/patterns",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://cep-engine:8291/api/patterns",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 420,
        "y": 820,
        "wires": [["func-render-patterns"]]
    },
    {
        "id": "func-render-patterns",
        "type": "function",
        "z": "tab-dashboard",
        "name": "Preparar tabla patrones",
        "func": "var patterns = msg.payload;\nif (!Array.isArray(patterns)) {\n    node.status({fill:'red', shape:'ring', text:'Error: ' + (msg.statusCode || 'sin respuesta')});\n    return null;\n}\nnode.status({fill:'green', shape:'dot', text: patterns.length + ' patrones'});\nflow.set('patterns', patterns);\nvar rows = patterns.map(function(p) {\n    return {\n        patternId: p.patternId,\n        name: p.name,\n        alertLevel: p.alertLevel,\n        description: p.description || '',\n        estado: p.enabled ? '✅ Activo' : '❌ Desactivado'\n    };\n});\nmsg.payload = rows;\nreturn msg;",
        "outputs": 1,
        "x": 660,
        "y": 820,
        "wires": [["table-patterns"]]
    },
    {
        "id": "table-patterns",
        "type": "ui_table",
        "z": "tab-dashboard",
        "group": "group-patterns",
        "name": "Tabla Patrones",
        "order": 1,
        "width": "24",
        "height": "10",
        "columns": [
            {"field": "patternId",   "title": "ID",           "width": "15%"},
            {"field": "name",        "title": "Nombre",       "width": "20%"},
            {"field": "alertLevel",  "title": "Nivel",        "width": "8%"},
            {"field": "description", "title": "Descripción",  "width": "47%"},
            {"field": "estado",      "title": "Estado",       "width": "10%"}
        ],
        "outputs": 1,
        "cts": true,
        "x": 900,
        "y": 820,
        "wires": [["func-handle-pattern-click"]]
    },
    {
        "id": "func-handle-pattern-click",
        "type": "function",
        "z": "tab-dashboard",
        "name": "Capturar clic en patrón",
        "func": "var row = msg.payload;\nif (!row || !row.patternId) return null;\nflow.set('selectedPatternId', row.patternId);\nmsg.payload = '¿Cambiar estado de: ' + row.name + '?';\nreturn msg;",
        "outputs": 1,
        "x": 660,
        "y": 880,
        "wires": [["text-pattern-selected"]]
    },
    {
        "id": "text-pattern-selected",
        "type": "ui_text",
        "z": "tab-dashboard",
        "group": "group-patterns",
        "order": 2,
        "width": "16",
        "height": "1",
        "name": "Patrón seleccionado",
        "label": "Seleccionado:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 900,
        "y": 880,
        "wires": []
    },
    {
        "id": "btn-toggle-pattern",
        "type": "ui_button",
        "z": "tab-dashboard",
        "name": "Toggle Patrón",
        "group": "group-patterns",
        "order": 3,
        "width": "8",
        "height": "1",
        "passthru": false,
        "label": "Habilitar / Deshabilitar",
        "tooltip": "Haz clic en una fila de la tabla y luego en este botón",
        "color": "#ffffff",
        "bgcolor": "#2196F3",
        "icon": "fa-toggle-on",
        "payload": "toggle",
        "payloadType": "str",
        "topic": "",
        "x": 170,
        "y": 940,
        "wires": [["func-build-toggle-request"]]
    },
    {
        "id": "func-build-toggle-request",
        "type": "function",
        "z": "tab-dashboard",
        "name": "Construir petición toggle",
        "func": "var patternId = flow.get('selectedPatternId');\nif (!patternId) {\n    node.warn('Selecciona un patrón de la tabla primero');\n    return null;\n}\nmsg.method = 'PATCH';\nmsg.url = 'http://cep-engine:8291/api/patterns/' + patternId + '/toggle';\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 940,
        "wires": [["http-toggle-pattern"]]
    },
    {
        "id": "http-toggle-pattern",
        "type": "http request",
        "z": "tab-dashboard",
        "name": "PATCH toggle",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 660,
        "y": 940,
        "wires": [["func-after-toggle"]]
    },
    {
        "id": "func-after-toggle",
        "type": "function",
        "z": "tab-dashboard",
        "name": "Actualizar tras toggle",
        "func": "var updated = msg.payload;\nif (!updated || !updated.patternId) {\n    node.status({fill:'red', shape:'ring', text:'Error toggle: ' + (msg.statusCode || '?')});\n    return null;\n}\nnode.status({fill:'green', shape:'dot', text: updated.patternId + ' -> ' + (updated.enabled ? 'ON' : 'OFF')});\nvar patterns = flow.get('patterns') || [];\npatterns = patterns.map(function(p) {\n    return p.patternId === updated.patternId ? updated : p;\n});\nflow.set('patterns', patterns);\nvar rows = patterns.map(function(p) {\n    return {\n        patternId: p.patternId,\n        name: p.name,\n        alertLevel: p.alertLevel,\n        description: p.description || '',\n        estado: p.enabled ? '✅ Activo' : '❌ Desactivado'\n    };\n});\nflow.set('selectedPatternId', null);\nmsg.payload = rows;\nreturn msg;",
        "outputs": 1,
        "x": 880,
        "y": 940,
        "wires": [["table-patterns"]]
    }
]
